---
layout: default
---
<div class="post-header">
   <h1 class="post-title-main">{% if page.homepage == true %} {{site.homepage_title}} {% else %}{{ page.title }}{% endif %}</h1>
</div>
{% if page.image %}
<img alt="image" src="{{page.image}}"/>
{% endif %}
{% if page.twitter %}
      <iframe style="position: static; visibility: visible; width: 190px; height: 20px;" 
              data-twttr-rendered="true" title="Twitter Follow Button" 
              class="twitter-follow-button twitter-follow-button" 
              src="http://platform.twitter.com/widgets/follow_button.a64cf823bcb784855b86e2970134bd2a.en.html#_=1438577078419&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name={{page.twitter}}&amp;show_count=true&amp;show_screen_name=true&amp;size=m" 
              allowtransparency="true" scrolling="no" id="twitter-widget-0" frameborder="0">
      </iframe>
{% endif %}
<dl>
  <dh>GitHub:</dh>
  <dt><a href="{{ page.github }}">{{ page.github }}</a></dt>
  <dh>Linkedin:</dh>
  <dt><a href="{{ page.linkedin }}">{{ page.linkedin }}</a></dt>
  <dh>Google Scholar:</dh>
  <dt><a href="{{ page.scholar }}">{{ page.scholar }}</a></dt>
</dl>
  

<div class="post-content">

   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}

    {% include toc.html %}

       {{content}}

<div class="tags">
    {% if page.tags != null %}
    <b>Tags: </b>
    {% include custom/conditions.html %}
    {% for tag in page.tags %}
    {% if projectTags contains tag %}

    <a href="tag-{{tag}}.html" class="btn btn-info navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>


{% if site.github_editme_path %}
    <a href="https://github.com/{{site.github_editme_path}}{{page.url | replace: '.html', '.md'}}" class="btn btn-default " role="button"><i class="fa fa-github fa-lg"></i> Edit</a>
    {% endif %}

</div>

{{hr_shaded}}

{% include footer.html %}
